{
  "extends": "love",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "space-before-function-paren": ["error", "never"],
    "@typescript-eslint/space-before-function-paren": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/strict-boolean-expressions": "off"
  },
  "overrides": [
    {
      "files": ["tests/**"],
      "plugins": ["jest"],
      "rules": {
        "@typescript-eslint/unbound-method": "off",
        "jest/unbound-method": "error"
      }
    }
  ],
  "ignorePatterns": ["*.config.ts"]
}
